
<ion-content>
        <ion-img  src="/assets/icon/hamb.jpg" ></ion-img>
        <ion-button  expand="block">HAMBURGUERS</ion-button>
        <ion-img src="/assets/icon/piz.jpg"></ion-img>
        <ion-button  expand="block">PIZZAS</ion-button>
        <ion-img src="/assets/icon/past.jpg"></ion-img>
        <ion-button  expand="block">PASTÉIS</ion-button>
</ion-content>
