<ion-tabs>

    

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="happy"></ion-icon>
      <ion-label>apresentação</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Cardápio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Informações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  

</ion-tabs>
