

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/icon/favicon.png"></ion-img>
      <ion-card-header>
        <ion-card-title class= "title" >        </ion-card-title>
      </ion-card-header>
      <ion-button expand="block" >LOGIN</ion-button>
    <ion-button  expand="block">CADASTRE-SE</ion-button>
    </ion-card>
  
</ion-content>
