.welcome-card ion-img {
  max-height: 50vh;
  overflow: hidden;
  box-align: center;

}
.title {
  color: rgb(12, 6, 94);
  font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
.button-inner{
  color:darkorange;
}
